#app-header {
    background-color: #191f3b;
}

#roulette-header {

    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;

    align-self: flex-start;

    max-width: 1280px;
    margin: 0 auto;

    flex-wrap: wrap;
}

@media (min-width: 800px) {
  #roulette-header {
    padding: 10px 2rem;
  }
}

#logout-div {
    min-width: 64px;
    /* width: 15%; */
    width: auto;
    /* padding: 0px  0px; */
}

#username-div {
    margin-left: 16px;
}

#logout-button {
    width: 100%;
    padding: 0px 32px 0px;
}
