#app-header {
    background-color: #191f3b;
}

#roulette-header {

    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;

    align-self: flex-start;

    max-width: 1280px;
    margin: 0 auto;

    flex-wrap: wrap;
}

@media (min-width: 800px) {
  #roulette-header {
    padding: 10px 2rem;
  }
}

#logout-div {
    min-width: 64px;
    /* width: 15%; */
    width: auto;
    /* padding: 0px  0px; */
}

#username-div {
    margin-left: 16px;
}

#logout-button {
    width: 100%;
    padding: 0px 32px 0px;
}

#header-actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

#leaderboard-div {
    min-width: 64px;
    width: auto;
}

#leaderboard-button {
    height: 48px;
    border-radius: 12px;
    background-color: #2e3d79;
    border-width: 0;
    padding: 0px 24px;
    color: white;
}

#leaderboard-button:hover {
    box-shadow: 0 2px 4px #000000;
    background-color: #465cb3;
}
