#logout-button {
    height: 48px;
    border-radius: 12px;
    background-color: #2e3d79;
    border-width: 0;
}

#logout-button:hover {
    box-shadow: 0 2px 4px #000000;
    background-color: #465cb3;
}